In [4]:
import boto3
import pandas as pd

In [5]:
# train_file = pd.read_csv('Downloads/twinkeydow-master/als_thing/data/train.csv', index_col=None, sep=',') \
#     .drop_duplicates()
train_file = pd.read_csv('Downloads/16kUser.csv', index_col=None, sep=',') \
    .drop_duplicates()

# train_file.columns = ['uid', 'repoid', 'uname', 'reponame', 'date']
train_file.columns = ['uid', 'repoid']
train_file = train_file.drop_duplicates()
train_file.dropna(inplace=True)
train_file.repoid = train_file.repoid.astype(int)
train_file.head()

       uid     repoid
0  8740207    3964514
1  8740207   85077558
2  8740207  101296881
3  8740207   60493101
4  4782875  110748052

In [6]:
# user_file = pd.read_csv('Downloads/twinkeydow-master/als_thing/data/user.csv', index_col=None, sep=',') \
#     .drop_duplicates()
user_file = pd.read_csv('Downloads/registerd_user_star_repo.csv', index_col=None, sep=',') \
    .drop_duplicates()

#the users that have alreday register out web app.
    
# user_file.columns = ['uid', 'repoid', 'uname', 'reponame', 'date']
user_file.columns = ['uid', 'repoid']
user_file = user_file.drop_duplicates()
user_file.dropna(inplace=True)
user_file.repoid = train_file.repoid.astype(int)
user_file.head()

        uid     repoid
0  13039951    3964514
1  13039951   85077558
2   5056560  101296881
3   5056560   60493101
4   5056560  110748052

In [7]:

# take only uid / repoid
train_file = train_file[['uid', 'repoid']]
train_file.head()

       uid     repoid
0  8740207    3964514
1  8740207   85077558
2  8740207  101296881
3  8740207   60493101
4  4782875  110748052

In [8]:
# same thing for user file
user_file = user_file[['uid', 'repoid']]
user_file.head()

        uid     repoid
0  13039951    3964514
1  13039951   85077558
2   5056560  101296881
3   5056560   60493101
4   5056560  110748052

In [9]:
import findspark
findspark.init("/usr/local/spark-2.3.0")

from pyspark import SparkContext
from pyspark.sql import SQLContext

from pyspark.mllib.recommendation import ALS

sc = SparkContext(appName="RR")
sqlContext = SQLContext(sc)

In [10]:
def first_two_column(row):
    return (int(row[0]), int(row[1]), 1.0)

In [11]:
training_rdd = sqlContext.createDataFrame(train_file).rdd
training_rdd = training_rdd \
    .map(first_two_column)

In [12]:
training_rdd.take(5)

[(8740207, 3964514, 1.0),
 (8740207, 85077558, 1.0),
 (8740207, 101296881, 1.0),
 (8740207, 60493101, 1.0),
 (4782875, 110748052, 1.0)]

In [13]:
# this takes a short while too
model = ALS.trainImplicit( \
    training_rdd,
    rank=16,
    iterations=10,
    lambda_=0.1,
    alpha=80.0
)

In [14]:
user_rdd = sqlContext.createDataFrame(user_file).rdd
user_rdd.take(5)

[Row(uid=13039951, repoid=3964514),
 Row(uid=13039951, repoid=85077558),
 Row(uid=5056560, repoid=101296881),
 Row(uid=5056560, repoid=60493101),
 Row(uid=5056560, repoid=110748052)]

In [15]:
# append user to training set and train again
training_rdd = training_rdd.union(user_rdd.map(first_two_column))
# this takes a short while too
model = ALS.trainImplicit( \
    training_rdd,
    rank=16,
    iterations=10,
    lambda_=0.1,
    alpha=80.0
)

In [16]:
user_id_file = user_file[['uid']].drop_duplicates()
user_id_file.head()

         uid
0   13039951
2    5056560
6   33183203
16   5561833
43   3495948

In [17]:
user_id_rdd = sqlContext.createDataFrame(user_id_file).rdd
user_id_rdd.take(10)

[Row(uid=13039951),
 Row(uid=5056560),
 Row(uid=33183203),
 Row(uid=5561833),
 Row(uid=3495948)]

In [33]:
num = user_id_rdd.count()
for i in range(num):
    #print(user_id_rdd.take(num)[i].uid)
    user_products = model.recommendProducts(user_id_rdd.take(num)[i].uid, 10)
    #print(user_products.product)
    rec_id = []
    for obj in user_products:
        rec_id.append(obj.product)
    print(rec_id)
        #print(user_id_rdd.take(num)[i].uid,",",obj.product)

[28457823, 13491895, 45717250, 2126244, 10270250, 11730342, 21737465, 14440270, 60493101, 2325298]
[28457823, 13491895, 45717250, 2126244, 60493101, 11730342, 10270250, 21737465, 14440270, 1334369]
[28457823, 45717250, 13491895, 60493101, 2325298, 21737465, 10270250, 11730342, 2126244, 1334369]
[28457823, 13491895, 45717250, 1334369, 21737465, 2126244, 60493101, 2325298, 291137, 11730342]
[28457823, 2126244, 1334369, 13491895, 10270250, 2325298, 14440270, 11730342, 45717250, 41881900]

In [25]:
from pymongo import MongoClient
#mongodb://super:tKoJDjMtgcFPD_2Pfet@ds247587.mlab.com:47587/twinkeydow

try:
    conn = MongoClient("mongodb://super:tKoJDjMtgcFPD_2Pfet@ds247587.mlab.com:47587/twinkeydow")
    print("Connected successfully!!!")
except:  
    print("Could not connect to MongoDB")

Connected successfully!!!

In [62]:
# database
db = conn['twinkeydow']
 
# Created or Switched to collection names: my_gfg_collection
collection = db['userbaserec']


recomend_num = 5
num = user_id_rdd.count()
for i in range(num):
    #print(user_id_rdd.take(num)[i].uid)
    uid = user_id_rdd.take(num)[i].uid
    user_products = model.recommendProducts(uid, recomend_num)
    rec_id = []
    for obj in user_products:
        rec_id.append(obj.product)
    
    record = {
        "_id": uid,
        "rids": rec_id,
    }
    rec = collection.update_one({"_id": uid}, {"$set":record}, upsert=True)